<!-- Banner Start -->


<div id="tcd-banner" class="tcd-banner banner1">
    <div class="banner-wrapper">
        <div class="container">
            <div class="row banner-middle">                        
                <div class="col-lg-5 col-md-12">
                    <div class="banner-content">
                        <h1 class="tcd-banner-title">Knowledge is Power</h1>
                        <h4 class="tcd-banner-subtitle">Get Creative from the comfort of your HOME!</h4>
                        <div class="tcd-banner-search-box">
                            <form>
                                <input type="search" name="banner-search" placeholder="What do you want to learn?">
                                <button type="button" aria-hidden="true"><i class="icofont-search" aria-hidden="true"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 hidden-md">
                    <div class="tcd-banner-short-images">
                        <img src="../../../assets/images/banner/banner1/banner-front.png" alt="Banner Book Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner End -->