<div id="tcd-whatwedo-item" class="tcd-whatwedo-item sec-spacer">
    <div class="container">
        <div class="tcd-title tcd-faq-title">
            <h2>Our Mission</h2>
        </div>
        <div class="row align-items-center mb-10">
            <div class="col-lg-4 mb-10">
                <div class="card">
                    <img class="img-fluid border border-white rounded-circle z-depth-2" src="../../../assets/images/whatwedo/teach.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title card-block text-center">Teach</h5>
                        <p class="card-text">We are a team of teachers dedicated to developing confidence,
                            building skills and encouraging each child to achieve their
                            full potential.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-10">
                <div class="card">
                    <img class="img-fluid border border-white rounded-circle z-depth-2" src="../../../assets/images/whatwedo/learn.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title card-block text-center">Learn</h5>
                        <p class="card-text">We make learning fun and foster skill building through creative methods.
                            As students grow in confidence we nurture them 
                            to new levels of achievement and maturity.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-10">
                <div class="card">
                    <img class="img-fluid border border-white rounded-circle z-depth-2" src="../../../assets/images/whatwedo/inspire.png" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title card-block text-center">Inspire</h5>
                        <p class="card-text">
                            As educators, we inspire students to reach their fullest potential by fostering different learning methods and exploring 
                            multiple pathways to achieve their full potential.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


