<!-- Partner Section Start -->
<div id="tcd-partner" class="tcd-partner sec-spacer white-bg">
    <div class="container">
        <owl-carousel-o [options]="carouselOptions">
            <ng-template carouselSlide class="partner-image">
                <img src="assets/images/partner/1.png" alt="Partner Image">
            </ng-template>
            <ng-template carouselSlide class="partner-image">
                <img src="assets/images/partner/2.png" alt="Partner Image">
            </ng-template>
            <ng-template carouselSlidev class="partner-image">
                <img src="assets/images/partner/3.png" alt="Partner Image">
            </ng-template>
            <ng-template carouselSlide class="partner-image">
                <img src="assets/images/partner/4.png" alt="Partner Image">
            </ng-template>
            <ng-template carouselSlide class="partner-image">
                <img src="assets/images/partner/5.png" alt="Partner Image">
            </ng-template>
            <ng-template carouselSlide class="partner-image">
                <img src="assets/images/partner/6.png" alt="Partner Image">
            </ng-template>
        </owl-carousel-o>
    </div>
</div>
<!-- Partner Section End -->