<div class="main-body p-0">
    <div class="inner-wrapper">
        <!-- Inner main -->
        <div class="inner-main">
            <div class="inner-sidebar-header">
                <div class="breadcrumbs-image">
                    <img src="assets/images/breadcrumbs/course-breadcrumbs.jpg" alt="Breadcrumbs Image">
                    <div class="breadcrumbs-inner">
                        <div class="container">
                            <div class="breadcrumbs-text align-items-center">
                                <div class="breadcrumbs-title-part">
                                    <h4 class="breadcrumbs-title">Overview</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Forum List -->
            <div class="inner-main-body p-2 p-sm-3 collapse forum-content show">

            </div>
            <!-- /Forum List -->
        </div>
        <!-- /Inner main -->
    </div>
</div>
