<div class="main-body p-0">
    <div class="inner-wrapper">
        <!-- Inner main -->
        <div class="inner-main">
            <div class="inner-sidebar-header">
                <div class="breadcrumbs-image">
                    <img src="assets/images/breadcrumbs/course-breadcrumbs.jpg" alt="Breadcrumbs Image">
                    <div class="breadcrumbs-inner">
                        <div class="container">
                            <div class="breadcrumbs-text align-items-center">
                                <div class="breadcrumbs-title-part">
                                    <h2 class="breadcrumbs-title">Events</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Forum List -->
            <div class="inner-main-body p-2 p-sm-3 collapse forum-content show">
                <div style="display: flex; justify-content: flex-end">
                    <button class="block" mat-raised-button color="accent" href="#">New Event</button>
                </div>
                <div class="card mb-2">
                    <div class="card-body p-2 p-sm-3">
                        <div class="events-date text-uppercase text-center">
                            <a class="text-white" href="#">May
                                <span>10</span>
                            </a>
                        </div>
                        <div class="d-inline-block pl-3 event-li">
                            <h3 class="font-weight-bold mt-0">
                                <a href="#">
                                    CMS City Exhibition
                                </a>
                            </h3>
                            <p>
                                10:30 PM
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card mb-2">
                    <div class="card-body p-2 p-sm-3">
                        <div class="events-date text-uppercase text-center">
                            <a class="text-white" href="#">May
                                <span>10</span>
                            </a>
                        </div>
                        <div class="d-inline-block pl-3 event-li">
                            <h3 class="font-weight-bold mt-0">
                                <a href="#">
                                    CMS City Exhibition
                                </a>
                            </h3>
                            <p>
                                10:30 PM
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card mb-2">
                    <div class="card-body p-2 p-sm-3">
                        <div class="events-date text-uppercase text-center">
                            <a class="text-white" href="#">May
                                <span>10</span>
                            </a>
                        </div>
                        <div class="d-inline-block pl-3 event-li">
                            <h3 class="font-weight-bold mt-0">
                                <a href="#">
                                    CMS City Exhibition
                                </a>
                            </h3>
                            <p>
                                10:30 PM
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card mb-2">
                    <div class="card-body p-2 p-sm-3">
                        <div class="events-date text-uppercase text-center">
                            <a class="text-white" href="#">May
                                <span>10</span>
                            </a>
                        </div>
                        <div class="d-inline-block pl-3 event-li">
                            <h3 class="font-weight-bold mt-0">
                                <a href="#">
                                    CMS City Exhibition
                                </a>
                            </h3>
                            <p>
                                10:30 PM
                            </p>
                        </div>
                    </div>
                </div>
                <ul class="pagination pagination-sm pagination-circle justify-content-center mb-0">
                    <li class="page-item disabled">
                        <span class="page-link has-icon"><i class="material-icons">chevron_left</i></span>
                    </li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0)">1</a></li>
                    <li class="page-item active"><span class="page-link">2</span></li>
                    <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                    <li class="page-item">
                        <a class="page-link has-icon" href="javascript:void(0)"><i
                                class="material-icons">chevron_right</i></a>
                    </li>
                </ul>
            </div>
            <!-- /Forum List -->
        </div>
        <!-- /Inner main -->
    </div>
</div>
