<!-- Services Start-->
<div id="tcd-services" class="tcd-services primary-gradient">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="icofont-wall-clock" aria-hidden="true"></i>
                    </div>
                    <div class="service-content">
                        <h4 class="title">Learn Anytime</h4>
                        <h6 class="description">
                            Learn on your schedule
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="icofont-live-support" aria-hidden="true"></i>
                    </div>
                    <div class="service-content">
                        <h4 class="title">Live Instruction</h4>
                        <h6 class="description">
                            Face to Face instruction from qualified instructors
                        </h6>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="icofont-laptop" aria-hidden="true"></i>
                    </div>
                    <div class="service-content">
                        <h4 class="title">Learn Anywhere</h4>
                        <h6 class="description">
                            Learn anywhere from any device 
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services End-->