<!-- Store Section Start -->
<div id="tcd-store" class="tcd-store gray-bg sec-spacer">
    <div class="container">
        <div class="store-text text-center">
            <h2 class="store-title">Learn Anydevice, Anytime, Anywhere</h2>
            <p class="store-desc">Delectus omnis at provident eius modi dolorem amet, rem ullam aperiam. Consectetur
                <br> voluptas impedit doloremque, ratione quidem.</p>
            <div class="store-img">
                <a href="#"><img src="assets/images/store/playstore.png" alt="Playstore Image"></a>
                <a href="#"><img src="assets/images/store/appstore.png" alt="Appstore Image"></a>
            </div>
        </div>
    </div>
</div>
<!-- Store Section End -->