<!-- Breadcrumbs Start -->
<app-breadcrumbs title="Courses"></app-breadcrumbs>
<!-- Breadcrumbs End -->


<!-- Popular Course Start-->
<div id="tcd-course-item" class="tcd-course-item sec-spacer">
    <div class="container">
        <div *ngIf="isTutor" class="row align-items-center mb-50">
            <div class="col-lg-6 col-md-6 mb-30">
                <a mat-raised-button color="accent" href="/create-course">Add a New
                    Course</a>
            </div>
            <div *ngIf="isTutor" class="col-lg-6 col-md-6 mb-30" style="display: flex; justify-content: flex-end">
                <mat-slide-toggle color="accent" (change)="onChange($event.checked)">
                    Show My Courses Only
                </mat-slide-toggle>
            </div>
        </div>

        <div class="row align-items-center mb-50">
            <div class="col-lg-3 col-md-6 mb-30"
                *ngFor="let course of courses | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                <div class="single-course shadow p-2 bg-white rounded">
                    <div class="img-container">
                        <img class="course-img" src="{{(course['avatar'])['base64String']}}" 
                            alt="Course Image">
                    </div>
                    <div class="course-content">
                        <h4 class="course-title"><a routerLink="/courses/{{course['id']}}"
                                routerLinkActive="active">{{course['title']}}</a></h4>
                        <h6 class="course-author"><a href="/tutors/{{course['tutor_id']}}">Pavan Ganjam</a>
                        </h6>
                        <div class="course-rating">
                            <ul>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star-half"></i></li>
                            </ul>
                            <span class="rating-number">4.5</span>
                            <span class="enroll-number">(85,500)</span>
                        </div>
                        <div *ngIf="isStudent" class="enroll-price">
                            <button (click)="enroll(course)" class="enroll-btn readon active">Enroll
                                Now</button>
                            <span class="sell-price">$35.00</span>
                            <span class="previous-price">$75.00</span>
                        </div>
                        <div *ngIf="!isStudent" class="enroll-price">
                            <span style="float: left;" class="sell-price">$35.00</span>
                            <span style="float: left;" class="previous-price">$75.00</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center p-2">
            <ngb-pagination [collectionSize]="courses.length" [(page)]="page" [maxSize]="5" [rotate]="true"
                [ellipses]="false" [boundaryLinks]="true">
            </ngb-pagination>
        </div>
    </div>
</div>
<!-- Blog End-->