<!-- Footer Start -->
<div class="tcd-footer">
    <div class="container">
        <div class="row footer-border sec-spacer">
            <div class="col-lg-6 mb-md-30">
                <div class="footer-widget">
                    <h4 class="footer-title">Company</h4>
                    <ul class="footer-menu">
                        <li><a href="#">Company</a></li>
                        <li><a href="#">Our Story</a></li>
                        <li><a href="/contact">Feedback</a></li>
                        <li><a href="/contact">Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="footer-widget">
                    <h4 class="footer-title">Subscribe Now</h4>
                    <div class="tcd-newsletter">
                        <p>Want to add your email Id to our distribution list?</p>
                        <form>
                            <div class="form-group">
                                <input type="email" name="your-email" placeholder="Your Email">

                                <button class="btn-newsletter"><i class="fa fa-paper-plane-o"
                                        aria-hidden="true"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->