<!-- Accordion Section Start -->
<div id="tcd-accordion" class="tcd-accordion sec-spacer">
    <div class="container">
        <div class="tcd-title tcd-faq-title">
            <h2>Frequent Questions</h2>
        </div>
        <div id="accordion">
            <div class="row">
                <div class="col-lg-6 mb-md-20">
                    <div class="accordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="card-title">
                                    <button class="accordion-toggle collapsed" data-toggle="collapse"
                                        data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">How
                                        can I Enroll for a Course?</button>
                                </h5>
                            </div>
                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                data-parent="#accordion">
                                <div class="card-body">You can register by going to the Course section of the site. Find the Course
                                    you like and click <b>"Enroll Now"</b> to begin Enrollment.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h5 class="card-title">
                                    <button class="accordion-toggle collapsed" data-toggle="collapse"
                                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        How can I access classes that I am enrolled in?</button>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                data-parent="#accordion">
                                <div class="card-body">Go to the <b>'My Courses'</b> tab on Student Page to access all 
                                    courses you are enrolled in. Click on the <b>Classroom</b> link to access the 
                                    Classroom page</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header active" id="headingThree">
                                <h5 class="card-title">
                                    <button class="accordion-toggle collapsed" data-toggle="collapse"
                                        data-target="#collapseThree" aria-expanded="true"
                                        aria-controls="collapseThree">How can I contact my Course Tutor?</button>
                                </h5>
                            </div>

                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                data-parent="#accordion">
                                <div class="card-body">Classroom page offers a <b>Discussions</b> page to allow students
                                    enrolled in the class to engage in discussions with the Tutor as well as other
                                    Stuidents in the class.</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header margin-0" id="headingFour">
                                <h5 class="card-title">
                                    <button class="accordion-toggle collapsed" data-toggle="collapse"
                                        data-target="#collapseFour" aria-expanded="true"
                                        aria-controls="collapseFour">How can I join a Live Classroom?</button>
                                </h5>
                            </div>

                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                                data-parent="#accordion">
                                <div class="card-body">The <b>Classroom</b> page has a link to the Video page to join a Video
                                    call for virtual online lessons.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="accordion">
                        <div class="card">
                            <div class="card-header" id="headingFive">
                                <h5 class="card-title">
                                    <button class="accordion-toggle collapsed" data-toggle="collapse"
                                        data-target="#collapseFive" aria-expanded="false"
                                        aria-controls="collapseFive">How to Pay fo the Course?</button>
                                </h5>
                            </div>
                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                                data-parent="#accordion">
                                <div class="card-body">While enrolling you will be prompted to make a payment after which you will
                                    see the course in the <b>'My Courses'</b> section of the student Page.</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingSix">
                                <h5 class="card-title">
                                    <button class="accordion-toggle collapsed" data-toggle="collapse"
                                        data-target="#collapseSix" aria-expanded="false"
                                        aria-controls="collapseSix">Course Schedule </button>
                                </h5>
                            </div>
                            <div id="collapseSix" class="collapse" aria-labelledby="headingSix"
                                data-parent="#accordion">
                                <div class="card-body">The classroom schedule page shows the schedule of the classes
                                    for the course.</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header active" id="headingSeven">
                                <h5 class="card-title">
                                    <button class="accordion-toggle collapsed" data-toggle="collapse"
                                        data-target="#collapseSeven" aria-expanded="true"
                                        aria-controls="collapseSeven">How can i register for lessons?</button>
                                </h5>
                            </div>

                            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven"
                                data-parent="#accordion">
                                <div class="card-body">You must first register as a Student to be able to register for 
                                    classes. Use the 'Become a Student' Link to register as a student.</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header margin-0" id="headingEight">
                                <h5 class="card-title">
                                    <button class="accordion-toggle collapsed" data-toggle="collapse"
                                        data-target="#collapseEight" aria-expanded="true"
                                        aria-controls="collapseEight">How to Register as a Tutor?</button>
                                </h5>
                            </div>

                            <div id="collapseEight" class="collapse" aria-labelledby="headingEight"
                                data-parent="#accordion">
                                <div class="card-body">You must first register as a Tutor to be able to create new Courses. 
                                    Use the 'Become a Tutor' Link to register as a Tutor.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Accordion Section End -->