.category {
    width: 100%;
    background-color:  gray;
    margin: 5px;
    padding: 10px;
    border: 0px; 
    border-radius: 5px;
}

.category:hover {
    color: white;
    background-color: #24a0ed;
}

.subcategory {
    width: 100%;
    background-color: gold;
    margin: 5px;
    padding: 10px;
    border: 0px; 
    border-radius: 5px;
}

.selected {
    width: 100%;
    background-color: #24a0ed;
    margin: 5px;
    padding: 10px;
    border: 0px;
    border-radius: 5px;
}

.subcategory:hover {
    color: white;
    background-color: #24a0ed;
}

