<div class="tile is-ancestor">
    <div class="tile is-parent is-vertical">
        <section class="tile is-child notification is-light">
            <div class=" welcome-box box ">
                <p class="subtitle">
                    Click the button below to join the call
                </p>
                <button class="button is-fullwidth is-link is-medium" onclick="run()">
                    Join Call
                </button>
            </div>
            <section class="box thanks hidden">
                <p class="subtitle">
                    Thanks for joining the call. Have a great day!
                </p>
            </section>
            <div class="participants-section">
                <p class="title">Participants</p>
                <p class="subtitle">
                    Raise your hand to get the moderator's attention
                </p>
                <div class="box local-participant-info ">
                    <img id="hand-img" class=" is-pulled-right hidden" src="assets/hand.png" alt="hand icon" />
                    <p class="name-label"><strong>You</strong></p>
                    <button class="button is-primary hidden raise-hand-button" onclick="raiseOrLowerHand()">
                        raise your hand
                    </button>
                    <p class="hand-state has-text-right"></p>
                </div>
                <ul class="participant-list"></ul>
            </div>
        </section>
    </div>
    <div class="tile is-vertical is-8">
        <div class="tile">
            <div class="tile is-parent">
                <div class="call-panel tile is-child notification is-light">
                    <iframe class="is-overlay" id="call-frame" title="daily.co call frame"
                        allow="camera; microphone"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>