<!-- Free Course Start-->
<div id="tcd-course-item-free" class="tcd-course-item sec-spacer">
  <div class="container">
      <div class="tcd-title tcd-faq-title">
          <h2>New Courses</h2>
      </div>
      <owl-carousel-o [options]="carouselOptions" class="single-course">
          <ng-template carouselSlide>
              <div class="course-img">
                  <img src="assets/images/course/c-plus-plus.jpg" alt="Course Image">
              </div>
              <div class="course-content">
                  <h4 class="course-title"><a href="#">Complete C++ Masterclass - updated for C++ 13</a></h4>
                  <h6 class="course-author">Thomas S. Newkirk</h6>
                  <div class="course-rating">
                      <ul>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                      </ul>
                      <span class="rating-number">4.5</span>
                      <span class="enroll-number">(45,500)</span>
                  </div>
                  <div class="enroll-price">
                      <h6 class="enroll-now"><a href="#">Enroll Now</a></h6>
                      <span class="sell-price">$25.00</span>
                      <span class="previous-price">$75.00</span>
                  </div>
              </div>
          </ng-template>
          <ng-template carouselSlide>
              <div class="course-img">
                  <img src="assets/images/course/ruby.jpg" alt="Course Image">
              </div>
              <div class="course-content">
                  <h4 class="course-title"><a href="#">Complete Ruby Masterclass - updated for Ruby 14</a></h4>
                  <h6 class="course-author">Gerry P. Conlan</h6>
                  <div class="course-rating">
                      <ul>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star-half" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                      </ul>
                      <span class="rating-number">4.5</span>
                      <span class="enroll-number">(45,500)</span>
                  </div>
                  <div class="enroll-price">
                      <h6 class="enroll-now"><a href="#">Enroll Now</a></h6>
                      <span class="sell-price">$15.00</span>
                      <span class="previous-price">$45.00</span>
                  </div>
              </div>
          </ng-template>
          <ng-template carouselSlide>
              <div class="course-img">
                  <img src="assets/images/course/c-hash.jpg" alt="Course Image">
              </div>
              <div class="course-content">
                  <h4 class="course-title"><a href="#">Complete C# Masterclass - updated for C# 15</a></h4>
                  <h6 class="course-author">Allan K. Koenig</h6>
                  <div class="course-rating">
                      <ul>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star-half" aria-hidden="true"></i></li>
                      </ul>
                      <span class="rating-number">4.5</span>
                      <span class="enroll-number">(85,500)</span>
                  </div>
                  <div class="enroll-price">
                      <h6 class="enroll-now"><a href="#">Enroll Now</a></h6>
                      <span class="sell-price">$55.00</span>
                      <span class="previous-price">$95.00</span>
                  </div>
              </div>
          </ng-template>
          <ng-template carouselSlide>
              <div class="course-img">
                  <img src="assets/images/course/database.jpg" alt="Course Image">
              </div>
              <div class="course-content">
                  <h4 class="course-title"><a href="#">Complete SQL Masterclass - updated for SQL 12</a></h4>
                  <h6 class="course-author">Carl B. Bruckner</h6>
                  <div class="course-rating">
                      <ul>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                      </ul>
                      <span class="rating-number">4.5</span>
                      <span class="enroll-number">(85,500)</span>
                  </div>
                  <div class="enroll-price">
                      <h6 class="enroll-now"><a href="#">Enroll Now</a></h6>
                      <span class="sell-price">$35.00</span>
                      <span class="previous-price">$75.00</span>
                  </div>
              </div>
          </ng-template>
          <ng-template carouselSlide>
              <div class="course-img">
                  <img src="assets/images/course/java.jpg" alt="Course Image">
              </div>
              <div class="course-content">
                  <h4 class="course-title"><a href="#">Complete Java Masterclass - updated for Java 10</a></h4>
                  <h6 class="course-author">James Gosling</h6>
                  <div class="course-rating">
                      <ul>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star-half" aria-hidden="true"></i></li>
                      </ul>
                      <span class="rating-number">4.5</span>
                      <span class="enroll-number">(85,500)</span>
                  </div>
                  <div class="enroll-price">
                      <h6 class="enroll-now"><a href="#">Enroll Now</a></h6>
                      <span class="sell-price">$35.00</span>
                      <span class="previous-price">$75.00</span>
                  </div>
              </div>
          </ng-template>
          <ng-template carouselSlide>
              <div class="course-img">
                  <img src="assets/images/course/php-masterclass.jpg" alt="Course Image">
              </div>
              <div class="course-content">
                  <h4 class="course-title"><a href="#">Complete PHP Masterclass - updated for PHP 12</a></h4>
                  <h6 class="course-author">Maria T. Brooks</h6>
                  <div class="course-rating">
                      <ul>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star-half" aria-hidden="true"></i></li>
                      </ul>
                      <span class="rating-number">4.5</span>
                      <span class="enroll-number">(75,500)</span>
                  </div>
                  <div class="enroll-price">
                      <h6 class="enroll-now"><a href="#">Enroll Now</a></h6>
                      <span class="sell-price">$45.00</span>
                      <span class="previous-price">$95.00</span>
                  </div>
              </div>
          </ng-template>
          <ng-template carouselSlide>
              <div class="course-img">
                  <img src="assets/images/course/html.jpg" alt="Course Image">
              </div>
              <div class="course-content">
                  <h4 class="course-title"><a href="#">Complete HTML Masterclass - updated for HTML 14</a></h4>
                  <h6 class="course-author">Christine T. Madore</h6>
                  <div class="course-rating">
                      <ul>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star-half" aria-hidden="true"></i></li>
                      </ul>
                      <span class="rating-number">4.5</span>
                      <span class="enroll-number">(45,900)</span>
                  </div>
                  <div class="enroll-price">
                      <h6 class="enroll-now"><a href="#">Enroll Now</a></h6>
                      <span class="sell-price">$20.00</span>
                      <span class="previous-price">$55.00</span>
                  </div>
              </div>
          </ng-template>
          <ng-template carouselSlide>
              <div class="course-img">
                  <img src="assets/images/course/css.jpg" alt="Course Image">
              </div>
              <div class="course-content">
                  <h4 class="course-title"><a href="#">Complete CSS Masterclass - updated for CSS 15</a></h4>
                  <h6 class="course-author">Courtney W. Johnson</h6>
                  <div class="course-rating">
                      <ul>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star" aria-hidden="true"></i></li>
                          <li><i class="fa fa-star-half" aria-hidden="true"></i></li>
                      </ul>
                      <span class="rating-number">4.5</span>
                      <span class="enroll-number">(89,500)</span>
                  </div>
                  <div class="enroll-price">
                      <h6 class="enroll-now"><a href="#">Enroll Now</a></h6>
                      <span class="sell-price">$25.00</span>
                      <span class="previous-price">$65.00</span>
                  </div>
              </div>
          </ng-template>
      </owl-carousel-o>
  </div>
</div>
<!-- Free Course End-->