<!-- Testimonial Section Start -->
<div class="tcd-testimonial">
    <div class="container">
        <div class="tcd-title tcd-faq-title">
            <h2>Testimonials</h2>
        </div>
        <owl-carousel-o [options]="carouselOptions" class="testi-carousel">
            <ng-template carouselSlide class="testi-item">
                <div class="row align-items-center">
                    <div class="col-lg-7 col-md-7 col-sm-7">
                        <div class="testi-info">
                            <h4 class="testi-desc">“I learned most of my programming skills and modern javascripts
                                skills through self-study and the material available on Brainda.com.”</h4>
                            <h5 class="testi-author">– James Simth, JS Ninja</h5>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide class="testi-item">
                <div class="row align-items-center">
                    <div class="col-lg-7 col-md-7 col-sm-7">
                        <div class="testi-info">
                            <h4 class="testi-desc">“Best platform for learing database management skills through
                                self-study and the standard & very quality material available on Brainda.com.”</h4>
                            <h5 class="testi-author">– Stuart Binny, Database Manager</h5>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide class="testi-item">
                <div class="row align-items-center">
                    <div class="col-lg-7 col-md-7 col-sm-7">
                        <div class="testi-info">
                            <h4 class="testi-desc">“Quality assurance engineers, also known as QA engineers, track the
                                development process. They oversee production, testing each part to ensure it meets
                                company standards”</h4>
                            <h5 class="testi-author">– Oliva Hafez, QA Engineer</h5>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide class="testi-item">
                <div class="row align-items-center">
                    <div class="col-lg-7 col-md-7 col-sm-7">
                        <div class="testi-info">
                            <h4 class="testi-desc">“Design review teams alike away from the design, and insisting on
                                always using ready content can be a real drag on the process.”</h4>
                            <h5 class="testi-author">– Jasia Roudy, Web Designer</h5>
                        </div>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</div>
<!-- Testimonial Section End -->