<!-- Course Category Start-->
<div id="tcd-course-category" class="tcd-course-category sec-spacer pb-50">
    <div class="container">
        <div class="tcd-title">
            <h2>Course <span>Category</span></h2>
            <a href="#" class="readon">See All</a>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="course-item text-center">
                    <div class="course-icon">
                        <i class="flaticon-code" aria-hidden="true"></i>
                    </div>
                    <div class="course-content">
                        <h5 class="title"><a href="#">Software Deveopment</a></h5>
                        <p class="description">
                            Over 500 Courses
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="course-item text-center">
                    <div class="course-icon">
                        <i class="flaticon-rule" aria-hidden="true"></i>
                    </div>
                    <div class="course-content">
                        <h5 class="title"><a href="#">Web Development</a></h5>
                        <p class="description">
                            Over 300 Courses
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="course-item text-center">
                    <div class="course-icon">
                        <i class="flaticon-camera" aria-hidden="true"></i>
                    </div>
                    <div class="course-content">
                        <h5 class="title"><a href="#">Photography</a></h5>
                        <p class="description">
                            Over 250 Courses
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="course-item text-center">
                    <div class="course-icon">
                        <i class="flaticon-idea" aria-hidden="true"></i>
                    </div>
                    <div class="course-content">
                        <h5 class="title"><a href="#">Design</a></h5>
                        <p class="description">
                            Over 330 Courses
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="course-item text-center">
                    <div class="course-icon">
                        <i class="flaticon-sales" aria-hidden="true"></i>
                    </div>
                    <div class="course-content">
                        <h5 class="title"><a href="#">Business</a></h5>
                        <p class="description">
                            Over 400 Courses
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="course-item text-center">
                    <div class="course-icon">
                        <i class="flaticon-businessman" aria-hidden="true"></i>
                    </div>
                    <div class="course-content">
                        <h5 class="title"><a href="#">Marketing</a></h5>
                        <p class="description">
                            Over 125 Courses
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="course-item text-center">
                    <div class="course-icon">
                        <i class="flaticon-music" aria-hidden="true"></i>
                    </div>
                    <div class="course-content">
                        <h5 class="title"><a href="#">Music</a></h5>
                        <p class="description">
                            Over 130 Courses
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="course-item text-center">
                    <div class="course-icon">
                        <i class="flaticon-film" aria-hidden="true"></i>
                    </div>
                    <div class="course-content">
                        <h5 class="title"><a href="#">Video</a></h5>
                        <p class="description">
                            Over 220 Courses
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Course Category End-->